<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"><title>Quiz</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h2>Nombre del autor: Rafael Leon</h2>
		<img src="/images/retrato-luis-gaspardo.jpg" alt="Mi avatar" style="width:100px;height:150px;margin-bottom:5px;align:middle">
	</body>
</html>